language: python

sudo: false

python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  - DJANGO=1.8
  - DJANGO=1.9
  - DJANGO=1.10
  - DJANGO=1.11
  - DJANGO=master

matrix:
    fast_finish: true
    exclude:
      - python: "2.7"
        env: DJANGO=master
      - python: "3.4"
        env: DJANGO=master
      - python: "3.6"
        env: DJANGO=1.8
      - python: "3.6"
        env: DJANGO=1.9
      - python: "3.6"
        env: DJANGO=1.10

install: pip install tox-travis

script: tox

deploy:
  provider: pypi
  user: azavea
  password:
    secure: JaMwSJzuskaUKsSzLiTXm/FYvCabmblXjra0TkAGLdJvi3/PocGXSv4OrCCowV/c+DUNxMstNEXhcE9ypYAgElN3rBA60Lfy2imDzXr2JYbhCuEWfGubOa+rYLUt5DX3eNYyPk1ZcftMbVxdSrwSxDFhNWX7XRo+A8ZGY/eQ42EuUqJ7HNf5Atl8/h7c0ptDbQZqa/u+SDCB1T1zc7EfOwixl1WspZMZt3jiYkDyL1dDpCmVNgYl3dNGjiavcVazNUqaJOi+IcngC3BeEH/pKtUchj23Iva/0NI1NfHBDfyV6qOWBJsMb6Zb2B3GK50kEWvboil3Y3CYbIytBx0HnOs1N4EBliN/L0T/ohIUPX5JknyZXAff1aGSeZcf0I2LTl1LTHP/O5/fn2MkR3QzNxtHmOoT0teyAvxqU5tx/WUSV6cxK3CrAqar79ef786/vefoCeX9QjzElnrwxQUzC1/NXOewiHJHc4bu2t9DgfnxFOGuZL7Pyj3HZ+xS2GuYKy9Y8VQtsPSdEvi6UrdSzkxYts7wOPEneauGHMzKbBK1jIwX7mulRdgq80F2xL5VTtrBecHTznsHdFzKEgaJmAV+g/fWtyA2rPb+5yNwSHQMBjZ+Cz0YhwVYDYiOzfMmjzdHq4rtFIaZGJxdRhQrflJ9EQhlCFEiOn/O+ilxeRA=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: azavea/django-amazon-ses
