dist: xenial
sudo: false
language: python
cache: pip

env:
  global:
    - CC_TEST_REPORTER_ID=f803b9ba86041d642b4dbe476ac2faa72be48478b22b4264b8f4a8c0f920fda7

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install: pip install tox-travis

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script: tox

after_script:
  - if [[ "$TRAVIS_PULL_REQUEST" == "false" && "$TRAVIS_PYTHON_VERSION" == "3.6" ]]; then ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT; fi

deploy:
  provider: pypi
  user: azavea
  password:
    secure: JaMwSJzuskaUKsSzLiTXm/FYvCabmblXjra0TkAGLdJvi3/PocGXSv4OrCCowV/c+DUNxMstNEXhcE9ypYAgElN3rBA60Lfy2imDzXr2JYbhCuEWfGubOa+rYLUt5DX3eNYyPk1ZcftMbVxdSrwSxDFhNWX7XRo+A8ZGY/eQ42EuUqJ7HNf5Atl8/h7c0ptDbQZqa/u+SDCB1T1zc7EfOwixl1WspZMZt3jiYkDyL1dDpCmVNgYl3dNGjiavcVazNUqaJOi+IcngC3BeEH/pKtUchj23Iva/0NI1NfHBDfyV6qOWBJsMb6Zb2B3GK50kEWvboil3Y3CYbIytBx0HnOs1N4EBliN/L0T/ohIUPX5JknyZXAff1aGSeZcf0I2LTl1LTHP/O5/fn2MkR3QzNxtHmOoT0teyAvxqU5tx/WUSV6cxK3CrAqar79ef786/vefoCeX9QjzElnrwxQUzC1/NXOewiHJHc4bu2t9DgfnxFOGuZL7Pyj3HZ+xS2GuYKy9Y8VQtsPSdEvi6UrdSzkxYts7wOPEneauGHMzKbBK1jIwX7mulRdgq80F2xL5VTtrBecHTznsHdFzKEgaJmAV+g/fWtyA2rPb+5yNwSHQMBjZ+Cz0YhwVYDYiOzfMmjzdHq4rtFIaZGJxdRhQrflJ9EQhlCFEiOn/O+ilxeRA=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "3.6"
    repo: azavea/django-amazon-ses
